{% extends "base.html" %}

{% block head %}
<title>PMS - Credit Employee</title>
{% endblock %}

{% block body %}
<h1 class="titleText">Payroll Management System</h1>
<hr>
<h2 class="titleText">Credit Salary</h1>
    <br><br>

    <div class="reg-page">
        <form name="regform" id="regform" method="POST">
            <label for="id">Employee ID</label><br>
            <input type="text" id="id" name="id" placeholder="P2008" size="10" required pattern="^P[0-9]+$"
                title="Enter in the specified format">
            <br><br>

            <label for="salary">Basic Pay</label><br>
            <input type="number" id="salary" name="salary" placeholder="66000" size="20" required>
            <br><br>

            <input type="submit" class="btn" name="Submit" id="Submit" value="Credit Salary"></input><br>
            <input type="reset" class="btn" name="Reset" id="Reset" value="Clear All"></input>
        </form>
    </div>
{% endblock %}